<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="google-site-verification" content="E-wHsju00y9AiJ8eEHL1wfv2SUb0oQJvUEgOpxlplYQ"/>
    {% block meta_header %}{% endblock %}

    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/IndiFlower.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/pftl.css" rel="stylesheet"/>
    <link rel="icon" href="{{ SITEURL }}/theme/images/favicon.ico"/>

    <!-- FEEDS -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for PythonForTheLab.com" href="/feed.rss"/>

    <title>{% block title %}{% endblock %} | Python For The Lab</title>
    {% block head_scripts %}{% endblock %}
    <!-- Start of Async Drift Code -->
    <script>
        "use strict";

        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('dh5eit7z3tmk');
    </script>
    <!-- End of Async Drift Code -->
</head>

<body>
{% include 'nav.html' %}
{% block content %}{% endblock %}
{% include 'footer.html' %}
{% include 'footer_javascript.html' %}
{% block footer_scripts %}{% endblock %}


</body>
</html>