<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ SITEURL }}/theme/js/ie10-viewport-bug-workaround.min.js"></script>
<script src="{{ SITEURL }}/theme/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ SITEURL }}/theme/js/newsletter_subscribe.js"></script>