<div class="card border-primary mb-3">
    <div class="card-header">Get a free sample chapter</div>
    <div class="card-body">
        <h4 class="card-title">Enter your e-mail and you will get a sample chapter in your inbox</h4>
        <div id="newsletter_feedback"></div>
        <form id="free-chapter">
            <div class="form-group">
                <input class="form-control" type="email" id="email" placeholder="Your E-mail" required>
            </div>
            <div class="form-group">
                <input class="btn btn-danger col-sm-12" type="submit"
                       value="Get the free chapter" id="send">
            </div>
        </form>
    </div>
</div>