<div class="card border-primary mb-3">
    <div class="card-header">Subscribe</div>
    <div class="card-body">
        <h4 class="card-title">Get all the information directly to your inbox</h4>
        <div id="newsletter_feedback"></div>
        <form id="newsletter">
            <div class="form-group">
                <input class="form-control" type="email" id="email" placeholder="Your E-mail" required>
            </div>
            <div class="form-group">
                <input class="btn btn-danger col-sm-12" type="submit"
                       value="Subscribe to the newsletter" id="send">
            </div>
        </form>
        <p class="card-text">Get relevant information, unsubscribe at any time.</p>
    </div>
</div>