<section id="funnel-tools-capture" class="bounceInUp">
  <div class="close">&#10005;</div>
  <div class="open">&#8593;</div>

  <div class="title">
    Never stop learning
  </div>

  <div class="description">
    <p>
    Join over 1000 Python developers and don't miss any updates!
    </p>
    <form method="post" action="https://uetke.uetke.com/subscribe-newsletter">
      <input type="email" name="email" placeholder="email@domain.com" required>
      <button type="submit">Sign me up!</button>
    </form>
    <p>Or check out our <a href="/books">Books</a>!</p>
    Our <a href="https://www.pythonforthelab.com/privacy-policy/">Privacy Policy</a>.
  </div>
</section>