{% if DEFAULT_PAGINATION %}

<div class="container">
<ul class="pagination">
    <li class="page-item {% if not articles_page.has_previous() %}disabled{% endif %}">
      <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
    </li>
    {% for page_num in articles_paginator.page_range %}
    <li class="page-item {% if page_num==articles_page.number %}active{% endif %}">
      <a class="page-link" href="{{ SITEURL }}/{{ articles_paginator.page(page_num).url }}">{{ page_num }}</a>
    </li>
    {% endfor %}
    <li class="page-item{% if not articles_page.has_previous() %}disabled{% endif %}">
      <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
    </li>
  </ul>
</div>
{% endif %}