{% import 'macros/article_thumbnail.html' as art_thum %}
{% extends 'base.html' %}
{% block title %}Learn Python Programming{% endblock %}
{% block meta_header %}
    <meta name="description" content="Lear how to develop Python Applications that work in your lab.">
    <link rel="canonical" href="https://www.pythonforthelab.com/"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 class="text-center my-5">Learn how to use Python for your Lab</h1>
                <p>Python For The Lab is a collection of resources to help you start using Python
                    for developing solutions in your lab. <br/>
                    From analyzing data collected with your experiments to writing software to control your setup.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 class="text-center my-5">Where to start</h1>
                <ul style="list-style-type: none;">
                    <li><h3><a href="https://forum.pythonforthelab.com">Check out the forum to learn from others</a>
                    </h3></li>
                    <li><h3><a href="/blog">Read our articles</a></h3></li>
                    <li><h3><a href="https://www.uetke.com/courses">Follow one of our courses</a></h3></li>
                    <li><h3><a href="/books">Read our books</a></h3></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-sm-8">
                {% include 'newsletter_card.html' %}
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <h1>Our Latest Articles</h1>
        </div>
        <div id="latest_articles">
            <div class="row">
                {% for article in articles[:6] %}
                    <div class="col-sm-4">
                        {{ art_thum.article_thumb(article) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
    <script src="{{ SITEURL }}/theme/js/newsletter_subscribe.js"></script>
{% endblock %}