<div class="card border-primary mb-3">
    <div class="card">
        <div class="card-header">
            Support us
        </div>
        <div class="card-body">
            If you like the content of this website, consider buying a copy of the book <a href="/books"
                                                                                           data-fsc-action="Add,Checkout"
                                                                                           data-fsc-item-path-value="python-for-the-lab-book">Python
            For The Lab</a>
        </div>
    </div>
</div>